@import '../node_modules/sanitize.css/sanitize.css';

:root {
  --color-base: rgb(223, 244, 250);
  --color-main: rgb(27, 169, 204);
  --color-text: rgb(70, 64, 64);
}

html {
  color: red;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}

a {
  color: var(--color-main);
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mozuku-layout {
  padding: 0 0 48px;
}

.mozuku-header-wrapper {
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

.mozuku-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.mozuku-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.mozuku-header__logo a {
  display: block;
}

.mozuku-header__logo a:hover {
  background: #fafafa;
}

.mozuku-container {
  width: 100%;
  max-width: 720px;
  margin: 48px auto 0;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.postForm {
  position: relative;
  background-color: #fafafa;
}

.postForm__textarea {
  display: block;
  width: 100%;
  height: 80px;
  min-width: 60px;
  padding: 12px calc(120px + 24px + 24px) 12px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.postForm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 120px;
  height: 36px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;
  transform: translateY(-50%);
}

.postForm__images-area {
  position: relative;
  height: 64px;
  background-color: #dadada;
}

.postForm__images-area__collection {
  margin: 0 0 0 64px;
}

.postForm__images-area__collection img {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 14px 7px;
  float: left;
  image-orientation: from-image;
}

.postForm__images-area__form__input {
  display: none;
}

.postForm__images-area__form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 24px;
  width: 36px;
  height: 36px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;
  transform: translateY(-50%);
}

.postForm__images-area__form__label_loading {
  font-size: 1.5em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.timelineItem__readMore {
  width: 100%;
}

.post,
.timelineItem__readMore {
  padding: 12px 24px;
  border-top: 1px solid #eee;
}

.post-head {
  display: flex;
  justify-content: space-between;
}

.post-head__name {
  vertical-align: middle;
}

.post-head__name__name {
  font-weight: bold;
}

.post-head__name__screenName {
  margin: 0 0 0 4px;
  color: #999;
}

.post-head__time {
  color: #999;
}

.post__body {
  margin: 4px 0 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.post__body__bold {
  font-weight: bold;
}

.post__image:not(:empty) {
  display: flex;
  overflow-x: hidden;
}

.post-image__img {
  max-height: 256px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.post-image__img img {
  max-height: 256px;
  max-width: 100%;
  -moz-transition: -moz-transform 0.1s ease;
  -webkit-transition: -webkit-transform 0.1s ease;
  -o-transition: -o-transform 0.1s ease;
  -ms-transition: -ms-transform 0.1s ease;
  transition: transform 0.1s ease;
  image-orientation: from-image;
}

.post__ogp {
  margin: 6px;
  padding: 6px calc(120px + 24px + 24px) 6px 12px;
  border: solid 2px var(--color-base);
  overflow: hidden;
  display: inline-flex;
  width: 100%;
}

.post__ogp img {
  margin: auto;
}

.post__ogp a {
  text-decoration: none;
  padding: 6px;
}

.post__ogp__img {
  height: 72px;
  margin: 0 6px 0 0;
}

.post__ogp__info__title {
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-text);
}

.post__ogp__info__link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.post__ogp__info__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-text);
}

.post__ogp__info__author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8em;
  color: var(--color-text);
}

.post__meta {
  margin: 4px 0 0;
  color: #999;
  font-size: 0.8em;
}

.settings {
  margin: 4px 4px 0;
  padding: 1em;
}

.settingsItem__name {
  vertical-align: middle;
  margin: 0 0 4px;
}

.settingsItem__name__name {
  font-size: 2em;
  margin: 4px 4px 0;
}

.settingsItem__name__screenName {
  color: #999;
  font-size: 1.5em;
}

.settingsItem__title {
  font-size: 1.5em;
  margin: 12px 0 4px;
}

.settingsItem__subtitle {
  font-size: 1.3em;
  margin: 8px 0 4px;
}

.settingsItem__logout {
  width: 120px;
  height: 24px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;
}

.nameForm {
  position: relative;
}

.nameForm__textarea {
  display: block;
  width: 100%;
  border-color: #dbdbdb;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  padding: 8px calc(120px + 24px + 24px) 8px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nameForm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 120px;
  height: 24px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;
  transform: translateY(-50%);
}
